body {
    background-color: #141313; /* Dark Grey Background */
    color: #fff; /* White Text */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #A020F0; /* Set the background color to purple */
    color: white; /* Set the text color to white or any contrasting color */
    padding: 10px; /* Adjust padding as needed */
    text-align: center; /* Center-align the text */
}

main {
    text-align: center;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}